---
import { getCollection } from "astro:content";
import Artwork from "../components/Artwork.astro";
import Layout from "../layouts/Base.astro";

const collectionId = "xiiv68slmth2wzb3o1fj4rzw";
const collection = (await getCollection("collections")).find(
  (item) => item.id === collectionId,
);
if (!collection) throw `unknown collection id "${collectionId}"`;

const artworkIds = new Set(collection.data.artworkIds);
const artwork = (await getCollection("artwork")).filter((item) =>
  artworkIds.has(item.id),
);
---

<Layout>
  <h1>Test site</h1>
  {collection.data.title}:
  <ul>
    {
      artwork.map((item) => (
        <li>
          {item.data.title} ({item.data.medium || "unknown"})
        </li>
      ))
    }
  </ul>

  <div class="images">
    {
      artwork.map((item) => (
        <figure>
          <caption>{item.data.title}</caption>
          <Artwork artwork={item} />
        </figure>
      ))
    }
  </div>
</Layout>

<style>
  body {
    font-family: var(--font-neo-grotesque);
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-fluid-1);
    margin: var(--size-fluid-3);
  }

  figure {
    display: flex;
    flex-direction: column;
    max-width: 32%;
    margin: 0;
    box-shadow: var(--shadow-2);
  }
</style>
